<launch>
    <node pkg="sim_kinova" 
          type="tutorial_dedos.py" 
          name="kinova_moveit_fingers_tutorial"
          output="screen">
          <!-- required="true"> -->
        <remap from="/joint_states" to="/m1n6s300/joint_states"/>
    </node>

    <node pkg="moveit_ros_move_group" 
          type="move_group" 
          name="move_group">
        <remap from="/joint_states" to="/m1n6s300/joint_states"/>
    </node>
</launch>